.chats-body {
  padding: 10px 0;
  padding-top: 114px;
}
.header-wrapper {
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #26282d;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 10px 20px;
}
.chats-body {
  background-image: url("../images/chat-background.png");
  min-height: 1000vh;
}

.chat__write--container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  /* box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.7); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes float {
  0% {
    box-shadow: 3px 7px 20px rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 2px 12px 20px rgba(255, 255, 255, 0.3),
      -2px -12px 20px -8px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 3px 7px 20px rgba(255, 255, 255, 0.3);
  }
}
.chat__write {
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  background-color: #212326;
  border-radius: 0;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 3px 7px 20px rgba(255, 255, 255, 0.3);
  animation: float 3s linear infinite forwards;
}
.chat__icon-left {
  position: absolute;
  left: 10px;
}
.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}
.chat__write:focus ~ .chat__icon {
  outline: none;
  opacity: 0;
}
.chat__write i {
  font-size: 22px;
}
.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat-screen .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding: 0px 20px;
  border-top: 1px solid #848484;
}
.chat__messages .chat__timestamp {
  background-color: #212326;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 5px;
}
.message {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 20px;
}

.message .message__content {
  width: 70%;
}
.incoming-msg {
  align-self: flex-start;
}
.sent-msg {
  align-self: flex-end;
}
.incoming-msg img {
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
}
.message .message__bubble {
  background-color: #212326;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.3);
  padding: 7px 15px;
  border-radius: 20px;
  opacity: 0.85;
}
.incoming-msg .message__author {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.9;
}
.incoming-msg .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #355c7d, #c06c84);
}
.sent-msg .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to right, #556270, #ff6b6b);
}

@keyframes incomingAnimation {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.incoming-msg {
  animation: incomingAnimation 1s linear forwards;
}

@keyframes sentAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.sent-msg {
  animation: sentAnimation 1s linear forwards;
}
