.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  margin-top: 50px;
}

.header .header__title {
  font-size: 25px;
  font-weight: 300;
}

.header .header__icon {
  font-size: 25px;
  margin-left: 25px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  margin-right: 18px;
  font-size: 24px;
}
